@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-color: gray;
}

header {
    line-height: 80px;
    vertical-align: middle;
    border: 1px solid red;
    background-color: white;
}

#logo-img {
    height: 80px;
}

#h1-id {
    display: inline;
}

main {
    width: 70%;
    margin: 40px auto;
    background-color: white;
}

.span-div {
    padding: 20px 40px;
}

.fake-button-1, .fake-button-2 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.fake-button-1 {
    color: white;
    background-color: blue;
}

section {
    padding: 20px 40px;
}

.check-box-custom {
    border: 1px solid red;
    border-radius: 50%;
    padding: 10px;
}

.check-box-custom::before {
    content: "\2713";
}