@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-color: rgb(246,248,249);
}

header {
    background-color: white;
    padding: 10px;
}

#logo-img {
    height: 50px;
    vertical-align: middle;
}

#h1-id {
    display: inline-block;
    vertical-align: middle;
}

.hr-class {
    border-top: 1px solid rgb(246,248,249);
}

main {
    width: 70%;
    margin: 40px auto;
    background-color: white;
}

.span-div {
    padding: 20px 40px;
}

.fake-button-1, .fake-button-2 {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}

.fake-button-1 {
    color: white;
    background-color: rgb(69,171,234);
}

section {
    padding: 20px 40px;
}

.arrow-span::after {
    content: "\25BE";
}

.check-box-custom::after {
    display: inline-block;
    border-radius: 50%;

    width: 20px;
    height: 20px;
    
    text-align: center;
    line-height: 20px;
    /* vertical-align: middle; */

    font-size: 0.8rem;
}

.check-box-custom-green::after {
    content: "\2713";
    color: green;
    border: 1px solid green;
}

.check-box-custom-red::after {
    content: "\2613";
    color: red;
    border: 1px solid red;
}

.fake-button-3 {
    border-radius: 12px;
    color: white;
    padding: 6px;
    font-size: 0.7rem;
}

.fake-button-3-bg-blue {
    background-color: rgb(69,171,234);
}

.fake-button-3-bg-violet {
    background-color: rgb(156,114,228);
}

.fake-button-3-bg-green {
    background-color: rgb(100,192,169);
}

.fake-button-3-bg-orange {
    background-color: rgb(242,158,51);
}

.fake-button-3-bg-fucsia {
    background-color: rgb(216,99,161);
}

.fake-button-3-bg-yellow {
    background-color: rgb(176,201,38);
}

.container-sections {
    margin-top: 20px;
}